<div class="container">
  <div class="col-12">
    <h3 class="header"><i class="fa fa-group"></i>Cadastro de Clientes</h3>
  </div>
</div>
<div class="container register">
  <div class="col-xs-12">
    <form class="form-horizontal" [formGroup]="form">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="nome" class="required"> Nome </label>
          <input
            type="text"
            class="form-control"
            formControlName="firstName"
            required
            name="firstName"
            id="firstName"
            placeholder="Digite o nome completo"
            value=""
          />
          <div
            *ngIf="
              f.firstName.errors && (f.firstName.dirty || f.firstName.touched)
            "
          >
            <div class="text-danger" *ngIf="!f.firstName.valid">
              Informe o nome completo do cliente.
            </div>
          </div>
        </div>

        <div class="col-md-2 form-group">
          <label for="rgClient" class="required"> RG </label>
          <input
            type="text"
            class="form-control"
            formControlName="rgClient"
            required
            name="rgClient"
            id="rgClient"
            placeholder="Digite o RG"
            value=""
            mask="separator.2"
          />
          <div
            *ngIf="
              f.rgClient.errors && (f.rgClient.dirty || f.rgClient.touched)
            "
          >
            <p class="text-danger" *ngIf="!f.rgClient.errors.valid">
              Informe o RG do Cliente
            </p>
          </div>
        </div>

        <div class="col-md-3 form-group">
          <label for="cpf" class="required"> CPF </label>
          <input
            type="text"
            class="form-control"
            formControlName="cpf"
            required
            name="cpf"
            id="cpf"
            placeholder="Digite o CPF"
            value=""
            mask="000.000.000-00"
          />
          <div *ngIf="f.cpf.errors && (f.cpf.dirty || f.cpf.touched)">
            <p class="text-danger" *ngIf="!f.cpf.errors.valid">
              Informe o CPF do Cliente
            </p>
          </div>
        </div>

        <div class="col-md-2 form-group">
          <label for="datNascimento"> Data Nascimento </label>
          <input
            type="text"
            class="form-control"
            formControlName="datNascimento"
            name="datNascimento"
            id="datNascimento"
            placeholder="Digite a data nascimento"
            value=""
            mask="d0/M0/0000"
          />
        </div>

        <div class="col-md-3 form-group">
          <label for="telefone"> Telefone </label>
          <input
            type="text"
            class="form-control"
            formControlName="telefone"
            name="telefone"
            id="telefone"
            placeholder="Digite o telefone"
            value=""
            prefix="+55"
            mask="(000) 00000-0000"
          />
        </div>

        <div class="col-md-5 form-group">
          <label for="email" class="required"> E-mail </label>
          <input
            type="email"
            class="form-control"
            formControlName="email"
            required
            name="email"
            id="email"
            placeholder="Digite o E-mail do cliente"
            value=""
          />
          <div *ngIf="f.email.errors && (f.email.dirty || f.email.touched)">
            <p class="text-danger" *ngIf="!f.email.errors.valid">
              Informe o e-mail do Cliente
            </p>
          </div>
        </div>

        <div class="col-sm-3 form-group">
          <label for="empresa"> Empresa </label>
          <select class="form-control" name="empresa" id="empresa" formControlName="empresa">
            <option selected>Selecione</option>
            <option value="Carrefour">Carrefour</option>
            <option value="Outros">Outros</option>
          </select>
        </div>

        <div class="col-sm-6 form-group">
          <label for="endereco"> Endereço </label>
          <input
            type="text"
            class="form-control"
            formControlName="endereco"
            name="endereco"
            id="endereco"
            placeholder="Digite o endereço completo"
            value=""
          />
        </div>

        <div class="col-sm-2 form-group">
          <label for="numero"> Número </label>
          <input
            type="text"
            class="form-control"
            formControlName="numero"
            name="numero"
            placeholder="Digite o número"
            value=""
          />
        </div>

        <div class="col-sm-4 form-group">
          <label for="bairro"> Bairro </label>
          <input
            type="text"
            class="form-control"
            formControlName="bairro"
            name="bairro"
            id="bairro"
            placeholder="Digite o bairro"
            value=""
          />
        </div>

        <div class="col-sm-2 form-group">
          <label for="cep"> CEP </label>
          <input
            type="text"
            class="form-control"
            formControlName="cep"
            name="cep"
            id="cep"
            placeholder="Digite o cep"
            value=""
            mask="00000-000"
          />
        </div>

        <div class="col-sm-4 form-group">
          <label for="complemento"> Complemento </label>
          <input
            type="text"
            class="form-control"
            formControlName="complemento"
            name="complemento"
            id="complemento"
            placeholder="Digite o complemento"
            value=""
          />
        </div>

        <div class="col-sm-3 form-group">
          <label for="cidade"> Cidade </label>
          <input
            type="text"
            class="form-control"
            formControlName="cidade"
            name="cidade"
            id="cidade"
            placeholder="Digite a cidade"
            value=""
          />
        </div>

        <div class="col-sm-3 form-group">
          <label for="Estado"> Estado </label>
          <select class="form-control" name="estado" id="estado" formControlName="estado">
            <option [value]="" >Selecione</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="SP">São Paulo</option>
          </select>
        </div>
      </div>
      <input
        type="submit"
        class="btn btn-primary"
        [disabled]="!form.valid"
        (click)="onSubmit()"
        value="Cadastrar"
      />
    </form>
  </div>
</div>
